.pickup-form{
    padding:20px;
    background-color: #ddd;
    border-radius: 10px;
}
form.pickup-form input[type = "text"] {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 5px;
    padding: 5px;
    border:none
}
form.pickup-form input[type = "submit"]{
    width:100%;
    border-radius:5px;
    border: none;
    padding: 5px;
    background-color:#7868e6;
    color:#fff
}
.rent-container {
    background: #ddd;
    padding: 10px;
    border-radius: 10px;
}
.rent-block{
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.destination {
    background: #7868e6;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.destination ul li {
    color: #fff;
}
.rent-block-left {
    display: flex;
    width: 50%;
    justify-content: space-around;
}
.rent-block-left img{
    max-width: 30px;
}
.map-frame{
    border: 0px;
    width: 600px;
    margin-top: 10px;
}

/* Responsive Design  */

@media only screen and (max-width: 600px) {
    .map-frame {
      max-width: 100%;
    }
  }